body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  grid-area: h1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#searchBtn {
  border-radius: 40px;
  border: #2c7c4c solid thin;
  background-color: rgb(255, 255, 255);
  height: 40px;
  font-size: 30px;
  width: 50px;
  margin-left: 285px;
}

#searchResults {
  grid-area: searchResults;
  text-align: center;
  padding-right: 10px;
}
.searchContainer {
  width: 350px;
}

.searchContainer > .searchBar {
  width: 0px;
  height: 0px;
  border: rgb(0, 0, 0);
  overflow: hidden;
}

.searchContainer:hover > .searchBar {
  position: absolute;
  width: 200px;
  margin-top: 6px;
  margin-left: 80px;
  height: 35px;
  border: #2c7c4c solid thin;
  border-radius: 30px;
  text-align: center;
}

section {
  display: grid;
  height: 500px;
  width: 100%;
  grid-template-columns: 3fr 3fr 3fr 2fr;
  grid-template-areas: "highestRateContainer highestRateContainer highestRateContainer searchResults";
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  padding-bottom: 30px;
  position: sticky;
  z-index: 1;
}

.highestRateContainer {
  grid-area: highestRateContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
}
.highestRateContainer > h1 {
  font-size: 40px;
  padding-left: 25px;
  position: absolute;
}

#highestRateList > .cards {
  background-image: linear-gradient(
    to right top,
    #5454546c,
    #ffffff,
    #ffffffc2,
    #666666
  );
  margin-top: 14%;
}

main {
  height: 100%;
  width: 100%;
  grid-area: main;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: "userListContainer makeCardWrapper favoritesList ";
  display: grid;
}

.cards {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #bfab461b,
    #8e762865,
    #ffffff
  );
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 5px;
  flex-direction: column;
  height: 310px;
  width: 450px;
  border-radius: 3px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.cards > img {
  height: 70px;
  border-radius: 50px;
  border: rgba(255, 255, 255, 0.505) solid thin;
  justify-content: space-around;
  margin-top: 4%;
}

.userListContainer {
  grid-area: userListContainer;
  text-align: center;
}

#filterBtn {
  grid-area: filterBtn;
}

#favoritesContainer {
  grid-area: favoritesList;
  text-align: center;
}

#favoriteList {
  z-index: 0;
}

#makeCardWrapper {
  grid-area: makeCardWrapper;
  text-align: center;
}

#highestRateList > .cards {
  width: 600px;
  height: 340px;
  z-index: 1;
}

#highestRateList > .cards > img {
  width: 100px;
  height: 100px;
}

.map-container {
  position: relative;
  z-index: 1;

  margin-top: -200px;
}

#input-container {
  grid-area: inputContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 35px;
}

#input-container > h1 {
  font-size: 30px;
  text-align: center;
}

#input-container > input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
}

.ownCard {
  margin-right: 40px;
}

.ownCard > .cards {
  font-size: 15px;
  height: 400px;
  width: 320px;
}
.ownCard > .cards > img {
  height: 100px;
  width: 100px;
}

button {
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  background-color: #000000 solid;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #282a2cc4;
  color: #ffffff;
  border: #ffffff solid;
}

.dropbtn {
  font-size: 16px;
  height: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content button {
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #282a2c;
  color: #ffffff;
}

.edit-btn {
  padding: 5px;
  color: white;
  background-color: #265c5c;
  width: 150px;
  border: 0 none;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

input {
  color: #265c5c;
}

#quizWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}
#quizWrapper > button {
  width: 100%;
}

.question {
  margin-top: 20px;
}

.answers {
  margin-bottom: 150px;
}
